@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Slab:wght@300&display=swap');
@charset "UTF8";

*{
    margin: 0;
    padding: 0;
}
header{
    min-height: 80px;
    padding-top: 30px;
    text-align: center;
}
nav{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
nav a{
    padding: 10px;
    font-size: 15px;
}
h3{
    color: white;
}
h2{
    text-align: center;
}
img.h3 {
    display: block;
    width: 100%;
}
body{
    background-color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
}
main{
    background-color: white;
    max-width: 840px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    /*box-shadow: 0px 0px 10px #00000095;*/
}
main a{
    text-align: left;
}
main p{
    margin: 0px 0px 10px 0px;
    max-width: 700px;
    line-height: 1.5em;
}
main article h3 {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: black;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    background-color: lemonchiffon;
    border-radius: 5px;
}
ul{
    list-style-position: inside;
    text-align: left;
    container-type: square;
}
div.video {
    background-color: rgba(255, 255, 255, 0);
    margin: 10px 0px 10px 0px;
    position: relative;
    padding-bottom: 40%;
}
div.video > iframe {
    position: absolute;
    width: 83%;
    height: 100%;
}
div.videovimeo {
    background-color: rgba(255, 255, 255, 0);
    margin: 10px 0px 0px 0px;
    position: relative;
    padding-bottom: 40%;
}
div.videovimeo > iframe {
    position: absolute;
    width: 83%;
    height: 100%;
}
footer{
    background-color: whitesmoke;
    font-size: 13px;
    text-align: center;
    padding: 20px;
    max-width: 840px;
    min-width: 300px;
    margin:auto;
}
footer p {
    line-height: 1.5em;
    padding: 10px; 
}
/* -------------- CARROSSEL ---------------*/

.carrossel{
    margin: auto;
    padding-top: 10px;
    /*margin: 0 auto;*/ /*centralizado*/
    /*width: 700px;*/
    height: 350px;
    overflow: hidden;
}
.slides {
width: 400%;
height: 350px;
display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img {
    width: 700px;
}
.manual-navigation{
    position: absolute;
    width: 700px; /*mesma do carrossel*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
} 

.manual-btn:hover{
    background-color: lemonchiffon;
}

#radio1:checked ~ .first{
margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid blueviolet;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 700px;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: black;
}